aiohttp==3.7.4.post0
appdirs==1.4.4
argcomplete==1.12.3
async-timeout==3.0.1
attrs==21.2.0
base58==2.1.1
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
cytoolz==0.11.0
distlib==0.3.1
eth-hash==0.3.2
eth-typing==2.3.0
eth-utils==1.10.0
filelock==3.0.12
hexbytes==0.2.1
idna==2.10
ipfshttpclient==0.7.0
itsdangerous==2.0.1
jsonschema==3.2.0
lru-dict==1.1.7
MarkupSafe==2.0.1
multiaddr==0.0.9
multidict==5.1.0
netaddr==0.8.0
packaging==21.0
parsimonious==0.8.1
pipx==0.16.3
protobuf==3.17.3
pyparsing==2.4.7
pyrsistent==0.17.3
requests==2.25.1
rlp==2.0.1
six==1.15.0
toolz==0.11.1
typing-extensions==3.10.0.0
urllib3==1.26.5
userpath==1.6.0
varint==1.0.2
websockets==8.1
yarl==1.6.3
